$dev-black-bg: #161616;
$dev-black-primary: #0c1113;
$dev-yellow-primary: #e5ca26;
$dev-yellow-bg: #d6b923;
$dev-test: blue;
$dev-blue-green: #31808f;
$dev-blue-green-1: #2e7a8d;
$dev-gray: #e1e1e1;
$dev-bg-1: #7071e8;
$dev-bg-2: #cc423a;